name: Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.38.0
          locked: false

      - uses: tlambert03/setup-qt-libs@v1

      - name: Run pre-commit
        run: pixi run pre-commit run --all-files

      - name: Run tests
        uses: GabrielBB/xvfb-action@v1
        with:
          run: pixi run --environment test -- pytest --forked -v -s --ignore=motile_tracker --cov=trackedit --cov-report=xml
        env:
          PLATFORM: ubuntu-latest
          BACKEND: pyqt5

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
